<main>
  <header>
    <h1>To do list</h1>
  </header>
  <p>A place to store your to-dos</p>

  <form
    class="targetform"
    #filterForm="ngForm"
    (input)="setSearchTerm(filterForm)"
  >
    <input
      type="text"
      id="term"
      name="term"
      placeholder="Filter your to-dos"
      ngModel
    />
  </form>

  <ol>
    <li
      class="ordered-list"
      *ngFor="let item of filterTask(searchTerm); index as i"
    >
      <button>complete</button>
      <p>
        {{ item.task }}
      </p>
      <button (click)="deletetodo(i)">X</button>
    </li>
  </ol>
  <form #addForm="ngForm" (ngSubmit)="addTask(addForm)">
    <input
      type="text"
      id="addTodo"
      name="addTodo"
      placeholder="Add your to-do"
      ngModel
    />
    <button>Add</button>
  </form>
</main>
